<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Inicio
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="rol">
            <span class="oi oi-task" aria-hidden="true"></span> Rol
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="usuario">
            <span class="oi oi-people" aria-hidden="true"></span> Usuarios
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="paciente">
            <span class="oi oi-person" aria-hidden="true"></span> Paciente
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="anexos">
            <span class="oi oi-clipboard" aria-hidden="true"></span> Anexos
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="examenes">
            <span class="oi oi-file" aria-hidden="true"></span> Examenes
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="medico">
            <span class="oi oi-medical-cross" aria-hidden="true"></span> Medico
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="horarios">
            <span class="oi oi-clock" aria-hidden="true"></span> Horarios
        </NavLink>
    </li>

</ul>