@model ClinicaWeb.EntidadesDeNegocio.Anexos

@{
    ViewData["Title"] = "Detalles del Anexo";
}

<h1>Detalles del Anexo</h1>

<div>
    <h4>Anexos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anexo)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.ActionLink("Modificar registro", "Edit",
           new { id = Model.Id }, new { @class = "btn btn-success" }) |
            <a asp-action="Index" class="btn btn-dark">Regresar a la Lista</a>
        </div>
    </div>
</div>
