@page "/horarios"

<center><h3>Agregar Horarios</h3></center>

<MudButton Variant="Variant.Filled" Color="Color.Primary">Agregar Horarios</MudButton>
<br />
<br />
<MudDatePicker PickerVariant="PickerVariant.Static" Color="Color.Success" Rounded="true" Date="@(DateTime.Today.AddDays(1))" />
