@page "/"

<center><h1>BIENVENIDO AL SISTEMA CLINICO ESFE</h1></center>

Welcome to your new app.

<img srcset="~/Imagenes/banner home.jpg" />




<SurveyPrompt Title="How is Blazor working for you?" />
