@page "/usuario"

<center><h3>Lista de Usuario</h3></center>


<MudButton Variant="Variant.Filled" Color="Color.Primary">Agregar Usuarios</MudButton>
<br />
<br />
<br />
<br />
<MudSimpleTable Style="overflow-x: auto;">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in rows)
        {
            <tr>
                @foreach (var x in row.Split())
                {
                    <td>@x</td>
                }
            </tr>
        }
    </tbody>
</MudSimpleTable>
@code {
    string[] headings = { "ID", "Usuario", "Rol" };
    string[] rows = {
        @"1 Nohemy_Chinque Admin",
        @"2 Luisa_Enriquez usuario1",
        @"3 Jessica_Perez usuario2",
        @"4 Juan_Mestizo usuario3",
        @"5 Jorge_Salazar usuario4",
        @"6 Soraya_Cristal usuario5",
    };
}