@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <center> <h1>BIENVENIDO AL SISTEMA CLINICO ESFE</h1></center>
    <center><img src="~/Imagenes/banner home.jpg" width="100%" > </center>
}
